@*@page "/view/{id:even}"*@
@page "{id}"
@model FirstRazorApp.Pages.Employeers.DetailsModel
@{
    ViewData["Title"] = "Employee Details";
    var photoPath = $"~/images/{Model.Employee.PotoPath ?? "noimage.png"}";
}
<!--Второй способ передать параметр через page-->

<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <div class="card cardBoxShadow">
            <div class="card-header cardHeaderStyle">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body cardBodyStyle text-center">
                <div class="row">
                    <div class="col col-lg-9">
                        <h4 class="cardTextLeftFloating">Employee ID: @Model.Employee.Id</h4><hr />
                        <h4 class="cardTextLeftFloating">Email: @Model.Employee.Email</h4><hr />
                        <h4 class="cardTextLeftFloating">Department: <span class="text-danger font-weight-bold">@Model.Employee.Department</span></h4>
                    </div>
                    <div class="col col-lg-3">
                        <div style="border-right: 1px solid rgba(0,0,0,.1);">
                            <img class="card-img-top imageThumbnail border border-primary" style="background-color: #d1e7ff;" src="@photoPath" asp-append-version="true" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.25);">
                            <a asp-page="index" class="btn btn-success buttonShadow">Back</a>
                            <a asp-page="/Employeers/Edit" asp-route-ID="@Model.Employee.Id" class="btn btn-primary m-1 buttonShadow">Edit</a>
                            <a asp-page="/Employeers/Delete" asp-route-ID="@Model.Employee.Id" class="btn btn-danger m-1 buttonShadow">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>